/* aligned header About John Gause */
header{
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  }
/* adjust all the info in the middle starting at BIOGRAPHY */
main{
  margin: 20px;
  }

h1, h2, h3, p, ul, ol, footer {
    font-family: 'Arial', sans-serif;
    margin: 20px;
  }
  
  /* Heading styles */
  h1 {
    font-size: 2em;
    color: #333; /* Dark grey color */
  }
  
  h2 {
    font-size: 1.5em;
    color: #555; /* Slightly darker grey color */
  }
  
  h3 {
    font-size: 1.2em;
    color: #777; /* Light grey color */
  }
  
  /* Paragraph styles */
  p {
    line-height: 1.6; /* Adjust line height for better readability */
    color: #444; /* Dark grey color */
  }
